.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.0000rem;
	  padding: 1rem;
    width: 100%;
    background-color:#445864a2;
}

main {
  justify-content: center;
  text-align: center;
}


.postando {
  max-width: 530px;
    margin: 0 auto;
}

.div-img-logo {
  margin-top: 1%;
  margin-left: 4%;
}

.logo-feed {
  width: 25%;
}

textarea::placeholder {
  color:#606060;
}



.btn-sair {
    background-color: #44586400;
    border: none;
    border-radius: 1rem;
    color: white;
    align-items: center;
    margin-right: 2%;
    min-width: 2vw;
}

.img-sair {
  width: 2.2vw;
  
}

.btn-sair:hover {
  top:-4rem;
  box-shadow:0 .4rem .4rem #606060;
  transition: all .2s ease-in-out;
  background-color:#3d4e58a2;
  color:#e1faf7;

}

.img-user-name {
  width: 20px;
  height: 20px;
  
}

.position-username-data {
  justify-content: space-around;
  display: flex;
  align-items: center;
  color: white;

  margin: 0 auto 2%;
}

.position-username{
  display: flex;
  gap: 2%;
  flex: 1;
  align-items: center;
}

.post-date{
  font-size: 12px;
  text-shadow: .2rem .3rem .2rem rgba(0, 0, 0, 0.664);
  
}


.user-name {
  margin-top: 0.8vh;
  text-shadow: .2rem .3rem .2rem rgba(0, 0, 0, 0.664);
}

.dataPost {
  color: white;
  padding-top: 1%;
  margin-right: 40%;
  text-shadow: .2rem .3rem .2rem rgba(0, 0, 0, 0.664);
}

#txt-area {
    background-color: #f9cccc;
    margin-bottom: 3%;
    margin-top: 3%;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: .2rem .3rem .2rem rgba(0,0,0,0.25);
    width: 35vw;
    border-radius: 1rem;
}

.btn-postar {
  background-color: #26313800;
  border: none;
}

.position-btn-postar {
  display: flex;
  justify-content: flex-end;
}

.posição-botão-postar {
  display: flex;
  justify-content: flex-end;
}

.postar-img, .excluir-img, .editar-img, .curtir-img {
  width: 50%;
  position:relative;
  top:0;
  padding: 4%;
}

.postar-img:hover , .excluir-img:hover, .editar-img:hover, .curtir-img:hover {
  top:-0.2rem;
  box-shadow:0 0.3rem 0.3rem #5a5959;
  transition: all .2s ease-in-out;
  border-radius: 0.5rem;
 }


.txt-postado {
  background-color: #e1faf7;
  border-radius: 1rem;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  box-shadow: .2rem .3rem .2rem rgba(0,0,0,0.25);
  width: 35vw;
}



.li{
  margin-bottom: 3%;
}

ul, li {
    list-style-type: none;
}
  

@media (max-width: 600px) {
  
    .img-sair {
      width: 7vw;
      
    }

    .logo-feed {
      width: 22vw;
    }

    .txt-postado {
      width: 65vw;
    }
    
    #txt-area {
      width: 65vw;
      
  }

  .feed-postado {
    margin-left: 19%;
    max-width: 60vw;
  }

  .txt-area {
    margin-left: 15%
  }

  .position-username-data {
    width: 100%;

  }

  }

 